.videoclass{
    margin-left: 2%;
    margin-top: 1%;
}
.start{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: right;
    margin-left: 60%;
    margin-top: 11px;
}
.stop{
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10%;
}
.videos{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: right;
}
.activeclass{
    margin-left: 42%;
    font-weight: bold;
    color: green;
    font-size: 24px;
}
.stopclass{
    margin-left: 41%;
    font-weight: bold;
    color: red;
    font-size: 24px;
}
.live{
    font-size: 24px;
}
.input-card1{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 30px;
}
.threshbutton{
    margin-left: 19%;
    margin-top: 2%;
}
.canvas{
    margin-top: 1%;
}
.livebutton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: right;
    float: right;
    margin-right: 2%;
    margin-top: 10px
}
.livebutton1{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: right;
    float: right;
    margin-right: 2%;
    margin-top: 10px
}