@import "~bootstrap/dist/css/bootstrap.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

body{
    background: #F8F8F8;
    font-family: 'Poppins', sans-serif;
}

.fw-500{
 font-weight: 500; 
}

.logo{
    width: 131px;
}

/****** scroll bar css *****************/
*::-webkit-scrollbar {
    width: 10px;
    height:10px;
    background: #fff;
}
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: #4C84FF;
  border-radius: 0px;
  outline: 2px solid #fff;
}
/****** scroll bar css *****************/


.fs20{
 font-size: 20px;
}

.rt-0{
    right:0px;
}

.z-ind-1{
 z-index: 1;
}

.z-ind-111{
    z-index: 111;
}



.header-box-shadow{
-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
}

.input-card{
    border: 1px solid #4C84FF;
    border-radius: 5px;
    background: #4C84FF;
    border-radius: 45px;
    padding: 4px 10px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
    input {       
        cursor: pointer;
        color: white;
        font-size: 13px;
        font-weight: 500;
        &::placeholder{
            font-size: 13px;
            color: rgba(255,255,255,0.8);
        }
        &:focus
        {
            color: white;
        }
    }
    .input-group-text{
      background:#2A6AEB;   
      height: 29px;
      width: 29px;
      border-radius: 50% !important;
      color: #fff;
      font-size: 12px;
      margin-top: 1px;
      padding: 9.5px;
      margin-right: 5px;
    }

}

.border-none{
    border:none !important;
}


.card{
    box-shadow: 0px 0px 10px #ddd;
    border:none;
    border-radius: 10px;
    padding: 15px 20px;
    .table{
        margin-bottom:0px;
        th
        {
           border-top: none;
           border-bottom: none;
           padding:20px 45px;
           font-weight: 600;
           white-space: nowrap;
        }

        td{
            border:none;
            padding: 15px 45px;
           white-space: nowrap;
        }

        tbody{

            tr{
                &:nth-child(odd){
                    background: #f8f8f8;
                }
                &:hover{
                    background-color: rgba(0, 0, 0, 0.075);
                }
             }
        }
    }
}

/***** date picker color change *******/
.theme-green .bs-datepicker-body table td span.selected, 
.theme-green .bs-datepicker-body table td.selected span, 
.theme-green .bs-datepicker-body table td span[class*="select-"]:after, 
.theme-green .bs-datepicker-body table td[class*="select-"] span:after,
.theme-green .bs-datepicker-head{
    background-color: #4C84FF;
}
.theme-green .bs-datepicker-body table td.week span{
    color: #4C84FF;
}

.bs-datepicker{
  border-radius: 10px !important;
  margin-top: 20px;
}
/***** date picker color change *******/




.btn-circle{
    background:#2A6AEB;   
    text-align: center;
    height: 29px;
    padding: 5px;
    width: 29px;
    border-radius: 50% !important;
    color: #fff;
    font-size: 12px;
    &:hover{
        color: #fff;
        background:#1d59d3;   
    }

    &.circle-btn{ 
        height: 40px;
        width: 40px;
        font-size: 20px;
        text-align: center;
        position: absolute;
        &.left{
          left:0px;
          top: 50%
        } 
        &.right{
            right:0px;

          top: 50%

        }
      }
}


.pagination-card{
    border-radius:5px;
    box-shadow: 0px 0px 4px #ddd;
    padding: 10px;
.ngx-pagination{
    
    padding-left:0px;
    margin-bottom:0px;
   li{
    text-align: center;
    margin-right: 5px !important;
    margin-left: 5px !important;
    font-size: 14px;
    line-height: 25px;

    &.current{
     background: #2A6AEB;
    }
    &.pagination-next,
    &.pagination-previous{
        font-weight: 500;
        &.disabled{       
            background: #f8f8f8;   
        }
    }

    a:hover{
        background: #f8f8f8;
    }

   }


   li,a{
    min-height: 30px !important;
    border-radius: 10% !important;
    min-width: 30px !important;
    text-decoration: none;
    }

}

}


.preview-img{
    height: 400px;
    width: 90%;
    margin: auto;
    display: block;
    object-fit: contain;
  }